<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"><!--<![endif]-->

<head>
    <title>{{ title }} - Wifidog Auth</title>

	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-touch-fullscreen" content="yes">
	<meta charset="UTF-8" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/screen.min.css') }}">

    {% block head %}
    {% endblock %}
</head>

<body>
    {% if config['GTM_CONTAINER_ID'] %}
    {% include 'layouts/gtm.html' %}
    {% endif %}
	<!--[if lt IE 7]>
		<p class="chromeframe" style="background:#eee; padding:10px; width:100%">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
	<![endif]-->

	<div class="flakes-frame">
		<div class="flakes-navigation">
			<a href="index.html" class="logo">
                <img src="{{ url_for('static', filename='img/logo.png') }}" width="120">
			</a>

            {% for title, items in menu_categories() %}
			<ul>
                <li class="title">{{ title }}</li>
                {% for item in items %}
                <li class="{{ item.active and 'active' }}">
                    <a href="{{ item.url }}">{{ item.text }}</a>
                </li>
                {% endfor %}
			</ul>
            {% endfor %}

			<p class="foot">
			    {% if current_user.is_authenticated %}
                Hello <b>{{ current_user.given_name }}</b><br>
				<a href="#">My Account</a> &bullet; <a href="/logout">Logout</a>
                {% else %}
                <a href="/login">Login</a>
                {% endif %}
			</p>
		</div>

		<div class="flakes-content">

			<div class="flakes-mobile-top-bar">
				<a href="" class="logo-wrap">
                    <img src="{{ url_for('static', filename='img/logo.png') }}" height="30px">
				</a>

				<a href="" class="navigation-expand-target">
                    <img src="{{ url_for('static', filename='img/site-wide/navigation-expand-target.png') }}" height="26px">
				</a>
			</div>

			<div class="view-wrap">
                {% if show_flash != False %}
                {% include 'layouts/flashes.html' %}
                {% endif %}

                {% block content %}{% endblock %}
			</div>
		</div>
	</div>

    <script src="{{ url_for('static', filename='scripts/site.min.js') }}"></script>

    <script>
    jQuery(function($) {
        {% if config.get('PUSH_ENABLED') %}
        var eventSource = new EventSource('{{ url_for('app.push') }}');
        eventSource.onmessage = function(response) {
            new Notification(response.data);
        };
        {% endif %}

        setupNotifications();
    });
    </script>

    {% block scripts %}
    {% endblock %}
</body>
</html>
