app/static/scripts/
app/static/styles/
app/tags/**/*.js
bootstrap.py
bower_components/
build/
.bundle/
.coverage
data/*.db
.env
.env.local
htmlcov/
/local.py
node_modules/
*.pyc
.ruby-version/
.sass-cache/
tmp/
vendor/
