{% extends 'layouts/default.html' %}

{% from 'helpers/form.html' import select_optgroups %}

{% set title = 'Vouchers' %}

{% block content %}
<div id="{{ resource_name}}-index">
    <form method="GET" action="{{ url_for('resource.index', resource_name=resource_name) }}">
        <div class="flakes-search">
            <input type="search" class="search-box" placeholder="Search" autofocus>
            {% if current_user.has_role('super-admin') or current_user.has_role('network-admin') %}
            <div class="filters">
                <div class="filter-select">
                    {{ select_optgroups('gateway_id', gateways, request.args.get('gateway_id')) }}
                    <button type="submit" class="button-primary">Filter</button>
                </div>
            </div>
            {% endif %}
        </div>

        <div class="flakes-actions-bar">
            {% include 'resources/actions.html' %}
        </div>

        {% if pagination.items %}
        <table class="flakes-table">
            <colgroup>
                <col span="1" style="width: 20px">
            </colgroup>
            <thead>
                <tr>
                    <th class="checkbox"></th>
                    <th class="code">Code</th>
                    <th class="name">Name</th>
                    <th class="status">S</th>
                    <th class="times">Times</th>
                    <th class="minutes">Minutes Left</th>
                    <th class="traffic">Traffic (MB)</th>
                </tr>
            </thead>
            <tbody>
                {% for item in pagination.items %}
                <tr data-id="{{ item.id }}">
                    <td><input type="checkbox" name="ids" value="{{ item.id }}"></td>
                    <td class="code" data-label="Code">{{ item.code }}</td>
                    <td class="name" data-label="Name">{{ item.name or '-' }}</td>
                    <td class="status" data-label="Status"><span class="oi" data-glyph="{{ status_icons[item.status] }}" title="{{ item.status }}" aria-hidden="true"></span></td>
                    <td class="times" data-label="Times">
                        {{ item.created_at.strftime('%H:%M') }}
                    </td>
                    <td class="minutes" data-label="Minutes Left">
                        {% if item.status == 'active' %}
                        {{ item.time_left }} /
                        {% else %}
                        {% endif %}
                        {{ item.minutes }}
                    </td>
                    <td class="traffic" data-label="Traffic">{{ item.incoming | kb }} in; {{ item.outgoing | kb }} out; {{ (item.incoming + item.outgoing) | kb }} both</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="flakes-pagination right">
            {% if pagination.has_prev %}
            <a href="{{ url_for('resource.index', resource_name=resource_name, page=pagination.prev_num) }}">Prev</a> &nbsp;
            {% endif %}

            <input name="page" value="{{ pagination.page }}"> <i>of</i> {{ pagination.pages }}

            {% if pagination.has_next %}
            &nbsp; <a href="{{ url_for('resource.index', resource_name=resource_name, page=pagination.next_num) }}">Next</a>
            {% endif %}
        </div>
        {% endif %}
    </form>
</div>
{% endblock %}
