{% from 'helpers/form.html' import render_field %}

{% include 'layouts/network_and_gateway.html' %}

<fieldset>
    <legend>User Details</legend>

    <div data-row-span="2">
        <div data-field-span="1">
            {{ render_field(form.given_name) }}
        </div>
        <div data-field-span="1">
            {{ render_field(form.family_name) }}
        </div>
    </div>
    <div data-row-span="2">
        <div data-field-span="1">
            {{ render_field(form.email) }}
        </div>
        <div data-field-span="1">
            {% if instance %}
            {{ render_field(form.password, value='') }}
            {% else %}
            {{ render_field(form.password) }}
            {% endif %}
        </div>
    </div>

    {% if current_user != instance %}
    <div data-row-span="2">
        <div data-field-span="1">
            {{ render_field(form.roles) }}
        </div>
        <div data-field-span="1">
            {{ render_field(form.active) }}
        </div>
    </div>
    {% endif %}
</fieldset>
