{% from 'helpers/form.html' import render_field %}

{{ form.original_id }}

<fieldset>
    <legend>Product Details</legend>

    <div data-row-span="2">
        <div data-field-span="1">
            {{ render_field(form.code) }}
        </div>
        <div data-field-span="1">
            {{ render_field(form.title) }}
        </div>
    </div>
    <div data-row-span="1">
        <div data-field-span="1">
            {{ render_field(form.description) }}
        </div>
    </div>
    <div data-row-span="2">
        <div data-field-span="1">
            {{ render_field(form.currency) }}
        </div>
        <div data-field-span="1">
            {{ render_field(form.price) }}
        </div>
    </div>
</fieldset>
