{% extends 'layouts/default.html' %}

{% from 'helpers/form.html' import render_field %}

{% set title = resource_name | capitalize %}

{% macro format_column(item, column) -%}
{% if column.format %}
{{ column.format(item) | safe }}
{% else %}
{{ item[column.name] }}
{% endif %}
{%- endmacro %}

{% block content %}
<div id="{{ resource_name }}-index">
    <form method="get" action="{{ url_for('resource.index', resource_name=resource_name) }}">

    {% if resource.search or resource.filter %}
    <div class="flakes-search">
        {% if resource.search %}
        <input type="search" class="search-box" placeholder="Search" autofocus>
        {% endif %}

        {% if resource.filters %}
        <div class="filters">
            <div class="filter-select">
                {{ form.gateway_id }}
                <button type="submit" class="button-primary" name="action" value="filter">Filter</button>
            </div>
        </div>
        {% endif %}
    </div>
    {% endif %}

    <div class="flakes-actions-bar">
        {% include 'resources/actions.html' %}
    </div>

    {% if pagination.items %}
    <table class="flakes-table">
        <colgroup>
            <col span="1" style="width: 20px">
        </colgroup>
        <thead>
            <tr>
                <th class="checkbox"></th>
                {% for column in resource.columns %}
                <th class="{{ column.name }}">{{ column.title }}</th>
                {% endfor %}
                {% if resource.states %}
                <th class="actions">Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for item in pagination.items %}
            <tr data-id="{{ item.id }}">
                <td class="checkbox"><input type="checkbox" name="ids" value="{{ item.id }}"></td>
                {% for column in resource.columns %}
                <td class="{{ column.name }}" data-label="{{ column.title }}">
                    {% if column.link == True %}
                        <a href="{{ url_for('resource.edit', resource_name=resource_name, id=item.id) }}">{{ format_column(item, column) }}</a>
                    {% elif column.link %}
                        <a href="{{ column.link(item) }}">{{ format_column(item, column) }}</a>
                    {% else %}
                    {{ format_column(item, column) }}
                    {% endif %}
                </td>
                {% endfor %}
                {% if resource.states %}
                <td class="actions">
                    {% for action in available_actions(resource_name, item.status, 'admin') %}
                        <button type="submit" class="action" name="action" value="{{ action.name }}">
                            <b class="oi" data-glyph="{{ action.icon }}" title="{{ action.title }}" aria-hidden="true"></b>
                            {{ action.title }}
                        </button>
                    {% endfor %}
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="flakes-pagination right">
        {% if pagination.has_prev %}
        <a href="{{ url_for('resource.index', resource_name=resource_name, page=pagination.prev_num) }}">Prev</a> &nbsp;
        {% endif %}

        <input name="page" value="{{ pagination.page }}"> <i>of</i> {{ pagination.pages }}

        {% if pagination.has_next %}
        &nbsp; <a href="{{ url_for('resource.index', resource_name=resource_name, page=pagination.next_num) }}">Next</a>
        {% endif %}
    </div>
    {% endif %}

    </form>
</div>
{% endblock %}
