{% from 'helpers/form.html' import render_grid_field %}

{{ form.original_id }}

<fieldset>
    <legend>Currency Details</legend>

    <div data-row-span="2">
        <div data-field-span="1">
            {{ render_grid_field(form.id) }}
        </div>
        <div data-field-span="1">
            {{ render_grid_field(form.title) }}
        </div>
    </div>
    <div data-row-span="2">
        <div data-field-span="1">
            {{ render_grid_field(form.prefix) }}
        </div>
        <div data-field-span="1">
            {{ render_grid_field(form.suffix) }}
        </div>
    </div>
</fieldset>
