{% extends 'layouts/default.html' %}

{% set title = 'Currencies' %}

{% block content %}
<div id="{{ resource_name }}-index">
    <form method="post" action="{{ url_for('resource.index', resource_name=resource_name) }}">

    <div class="flakes-actions-bar">
        {% include 'resources/actions.html' %}
    </div>

    {% if instances %}
    <table class="flakes-table">
        <colgroup>
            <col span="1" style="width: 20px">
        </colgroup>
        <thead>
            <tr>
                <th class="checkbox"></th>
                <th class="id">ID</th>
                <th class="title">Title</th>
                <th class="prefix">Prefix</th>
                <th class="suffix">Suffix</th>
            </tr>
        </thead>
        <tbody>
            {% for instance in instances %}
            <tr data-id="{{ instance.id }}">
                <td class="checkbox"><input type="checkbox" name="ids" value="{{ instance.id }}"></td>
                <td class="id" data-label="ID"><a href="{{ url_for('resource.edit', resource_name=resource_name, id=instance.id) }}">{{ instance.id }}</a></td>
                <td class="title" data-label="Title"><a href="{{ url_for('resource.edit', resource_name=resource_name, id=instance.id) }}">{{ instance.title }}</a></td>
                <td class="prefix" data-label="Prefix">{{ instance.prefix }}</td>
                <td class="suffix" data-label="Suffix">{{ instance.suffix }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    </form>
</div>
{% endblock %}
