{% extends 'layouts/default.html' %}

{% set title = gateway.title %}

{% block content %}
{% include 'wifidog/_facebook.html' %}

<div id="wifidog-portal">
    {% if gateway.logo %}
    <img src="{{ url_for('static', filename='logos/%s' % gateway.logo) }}" />
    {% endif %}

    {% if gateway.subtitle %}
    <h2>{{ gateway.subtitle }}</h2>
    {% endif %}

    <div class="description">
        {{ gateway.description }}
    </div>

    <div property="url_facebook"
        class="fb-like"
        data-href={ gateway.url_facebook }
        data-width="300"
        data-layout="standard"
        data-action="like"
        data-show-faces="true"
        data-share="true">
    </div>
</div>
{% endblock %}

{% block scripts %}
{% if voucher and voucher.time_left %}
<script>
$(function() {
    var time_left = {{ voucher.time_left }};

    notify('success', time_left + ' minutes left');

    if(time_left > 0) {
        setInterval(function() {
            time_left--;
            $('#time_left').html(time_left);
        }, 60000);
    }

    if(time_left > 5) {
        setTimeout(function() {
            notify('warning', 'Your session is about to expire. You have 5 minutes left.');
        }, (time_left - 5) * 60000);
    }

    if(time_left > 10) {
        setTimeout(function() {
            notify('warning', 'Your session is about to expire. You have 10 minutes left.');
        }, (time_left - 10) * 60000);
    }
});
</script>
{% endif %}
{% endblock %}
