{% extends 'layouts/default.html' %}

{% set title = 'Networks' %}

{% block content %}
<div id="{{ resource_name }}-index">
    <form method="post" action="{{ url_for('resource.index', resource_name=resource_name) }}">

    <div class="flakes-actions-bar">
        {% include 'resources/actions.html' %}
    </div>

    {% if pagination.items %}
    <table class="flakes-table">
        <colgroup>
            <col span="1" style="width: 20px">
        </colgroup>
        <thead>
            <tr>
                <th class="checkbox"></th>
                <th class="id">ID</th>
                <th class="title">Title</th>
                <th class="description">Description</th>
                <th class="created_at">Created At</th>
            </tr>
        </thead>
        <tbody>
            {% for item in pagination.items %}
            <tr data-id="{{ item.id }}">
                <td class="checkbox"><input type="checkbox" name="ids" value="{{ item.id }}"></td>
                <td class="id" data-label="ID"><a href="{{ url_for('resource.edit', resource_name=resource_name, id=item.id) }}">{{ item.id }}</a></td>
                <td class="title" data-label="Title"><a href="{{ url_for('resource.edit', resource_name=resource_name, id=item.id) }}">{{ item.title }}</a></td>
                <td class="description" data-label="Description">{{ item.description }}</td>
                <td class="created_at" data-label="Created At">{{ item.created_at.strftime('%c') }}</td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    </form>
</div>
{% endblock %}
